@font-face {
   font-family: '7114';
   font-display: swap;
   src: url('file:///C:/Users/%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-08_234730/fonts/7114/font.ttf');
}
